[submodule "vim/pack/plugins/start/lightline"]
	path = vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/plugins/start/ctrlp"]
	path = vim/pack/plugins/start/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/pack/plugins/start/commentary"]
	path = vim/pack/plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/pack/plugins/start/plantuml-syntax"]
	path = vim/pack/plugins/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "vim/pack/plugins/start/vim-minizinc"]
	path = vim/pack/plugins/start/vim-minizinc
	url = https://github.com/vale1410/vim-minizinc
[submodule "vim/pack/plugins/start/typescript-vim"]
	path = vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/plugins/opt/govim"]
	path = vim/pack/plugins/opt/govim
	url = git@github.com:myitcv/govim.git
[submodule "vim/pack/plugins/start/gruvbox"]
	path = vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/pack/plugins/opt/vim-delve"]
	path = vim/pack/plugins/opt/vim-delve
	url = https://github.com/sebdah/vim-delve
[submodule "vim/pack/plugins/start/vim-fish"]
	path = vim/pack/plugins/start/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "vim/pack/plugins/start/vim-colors-pencil"]
	path = vim/pack/plugins/start/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil
[submodule "vim/pack/plugins/vim-markdown"]
	path = vim/pack/plugins/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/pack/plugins/start/vim-elm-syntax"]
	path = vim/pack/plugins/start/vim-elm-syntax
	url = https://github.com/andys8/vim-elm-syntax
[submodule "vim/pack/plugins/auto/vim-terraform"]
	path = vim/pack/plugins/auto/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "vim/pack/plugins/start/vim-coloresque"]
	path = vim/pack/plugins/start/vim-coloresque
	url = https://github.com/gko/vim-coloresque.git
[submodule "vim/pack/plugins/start/vim-terraform"]
	path = vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/plugins/start/elm-vim"]
	path = vim/pack/plugins/start/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "vim/pack/nvim/start/nvim-lspconfig"]
	path = vim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/pack/nvim/start/lualine"]
	path = vim/pack/nvim/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "vim/pack/nvim/start/lsp-status"]
	path = vim/pack/nvim/start/lsp-status
	url = https://github.com/nvim-lua/lsp-status.nvim.git
[submodule "vim/pack/nvim/start/telescope"]
	path = vim/pack/nvim/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "vim/pack/nvim/start/plenary"]
	path = vim/pack/nvim/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "vim/pack/nvim/start/treesitter"]
	path = vim/pack/nvim/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
