[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/plugins/start/lightline"]
	path = vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/plugins/start/ctrlp"]
	path = vim/pack/plugins/start/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/pack/plugins/start/commentary"]
	path = vim/pack/plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/pack/plugins/start/tagbar-markdown"]
	path = vim/pack/plugins/start/tagbar-markdown
	url = https://github.com/lvht/tagbar-markdown
[submodule "vim/pack/plugins/start/plantuml-syntax"]
	path = vim/pack/plugins/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "vim/pack/plugins/start/dart-vim-plugin"]
	path = vim/pack/plugins/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
