[submodule "vim/pack/nvim/start/nvim-lspconfig"]
	path = vim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/pack/nvim/start/lualine"]
	path = vim/pack/nvim/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "vim/pack/nvim/start/lsp-status"]
	path = vim/pack/nvim/start/lsp-status
	url = https://github.com/nvim-lua/lsp-status.nvim.git
[submodule "vim/pack/nvim/start/telescope"]
	path = vim/pack/nvim/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "vim/pack/nvim/start/plenary"]
	path = vim/pack/nvim/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "vim/pack/nvim/start/treesitter"]
	path = vim/pack/nvim/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "vim/pack/nvim/start/tremor-vim"]
	path = vim/pack/nvim/start/tremor-vim
	url = https://github.com/tremor-rs/tremor-vim
[submodule "vim/pack/nvim/start/trouble.nvim"]
	path = vim/pack/nvim/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule "vim/pack/nvim/start/nvim-web-devicons"]
	path = vim/pack/nvim/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "vim/pack/nvim/start/trouble"]
	path = vim/pack/nvim/start/trouble
	url = https://github.com/folke/trouble.nvim
[submodule "vim/pack/nvim/start/copilot"]
	path = vim/pack/nvim/start/copilot
	url = https://github.com/github/copilot.vim
[submodule "vim/pack/nvim/start/git-blame"]
	path = vim/pack/nvim/start/git-blame
	url = https://github.com/f-person/git-blame.nvim
[submodule "vim/pack/nvim/start/nvim-dap"]
	path = vim/pack/nvim/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "vim/pack/nvim/start/nvim-dap-python"]
	path = vim/pack/nvim/start/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python
[submodule "vim/pack/nvim/start/nvim-dap-go"]
	path = vim/pack/nvim/start/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go
[submodule "vim/pack/nvim/start/nvim-dap-ui"]
	path = vim/pack/nvim/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
